@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Ma+Shan+Zheng&display=swap');

@import "tailwindcss";

@theme {
  --font-inter: 'Inter';
  --font-poppins: 'Poppins';
  --font-longcang: 'Long Cang';
  --font-mashanzheng: 'Ma Shan Zheng';
  --color-hwachred: #CE2222;
  --color-hwachred-dark: #6D1212;
  --color-apollo: #ffcc02;
  --color-apollo-dark: #f1aa00;
  --color-ares: #c9102d;
  --color-artemis: #06048d;
  --color-athena:#027b3e;
  --color-song: #00D689;
  --color-dance: #AB00D6;
  --color-cheer: #FFB71C;
}

@layer base {
  h1 {
    @apply font-inter font-black text-5xl md:text-7xl lg:text-9xl
  }
  h2 {
    @apply text-4xl lg:text-6xl font-poppins
  }
  h3{
    @apply text-3xl lg:text-4xl font-poppins
  }
  p{
    @apply font-poppins text-xs md:text-base
  }
}

.custom-cursor-eye-open {
  cursor: url('/eye-open-large.png') 24 24, auto;
}

.custom-cursor-eye-close {
  cursor: url('/eye-close-large.png') 24 24, auto;
}

.centered-text-block{
  @apply mx-auto max-w-[700px] text-justify
}

.custom-scroll-hide::-webkit-scrollbar {
  display: none;
}
.custom-scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}